

#picture {
  height: 100%;
  width: auto;
  float:left;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 78px;
  color: blue;
}

h2{
  text-align: center;
}


body {
  background-image: url("../images/beige-tiles.png");
}

.section {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
}
.codes{
  font-family: monospace;
}
#fun h2 {
  color: #788AA3;
}
