span {
  float: right;
}

#picture {
  height: 200px;
  width: auto;
  float:left;
}

h1 {
  text-align: center;
  font-size: 78px;
  color: blue;
}

h2{
  text-align: center;
}


body {
  background-image: url("../image/beige-tiles.png");
}

.column {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  float: right;
}
.column2 {
  margin: 12px;
  padding: 4px;
}
.container{
  background-image: url("../image/beige-tiles.png");
}
