span {
  float: left;
}

#picture {
  height: 300px;
  width: auto;
}

h1 {
  text-align: center;
  font-size: 78px;
  color: blue;
}

body {
  background-color: gray;
}

.column {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  float: right;
}
